.header-wrapper {
    width: 320px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 10% 10% 0% 0%;
    border-top: 1px solid  #c6c4c4;
    border-left: 1px solid  #c6c4c4;
    border-right: 1px solid  #c6c4c4;
}

.sidebar-wrapper {
    width: 320px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eae6e6;
    border-radius: 0% 0% 10% 10%;
    border-left: 1px solid #c6c4c4;
    border-right: 1px solid #c6c4c4;
    border-bottom: 1px solid #c6c4c4 ;
}

.avatar-wrapper {
    width: 320px;
    height: 10px;
    background-color: #5cc0ff;
    position: relative;
    border-left: 1px solid #c6c4c4;
    border-right: 1px solid #c6c4c4;
}